# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Scrapy stuff
.scrapy

# Downloaded images
hotel_images/

# Environment variables
.env

# IDE-specific files (e.g., for VSCode)
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log